{% extends 'base.html.twig' %}

{% block title %}Ajouter une Association Candidature-Offre{% endblock %}

{% block body %}
    <h1>Ajouter une Association Candidature-Offre</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }} 
        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('candidature_offre_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}